/* Estilos gerais do corpo da página */
body {
    background-color: rgb(255, 255, 0);
    /* OTIMIZAÇÃO: A propriedade 'background-color' estava duplicada. A versão desnecessária foi removida. */
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}




/* Estilos do Cabeçalho */
.main-header {
    background-color: #333;
    color: #ffee00;
    padding: 1rem 0;
    text-align: center;
}




#main-title {
    margin: 0;
    font-size: 2.5rem;
}




/* Estilos do container de busca */
.search-container {
    margin-top: 1rem;
}




.search-container input[type="text"] {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}




.search-container button {
    padding: 0.5rem 1rem;
    background-color: #ffee00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




/* Estilos do Rodapé */
.main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}




.footer-links a {
    color: #d9a404;
    text-decoration: none;
}


